.button {
        padding: 12px 70px;
        font-size: 16px;
        border-radius: 10px;
        border: 2px solid black;
		justify-content: center;
        background-color: green;
    }
	
.wrapper {
	width: 420px;
	background-color: purple;
	color: #fff;
	}